    <h3 class='board_info event_name' id="contest_id" c-id=<%= @contest.id %>><%= @contest.home_team %> Vs <%= @contest.away_team %> </h3>
    <h4 class='board_info'><%= display_event_date_or_message(@contest) %></h4>
    <h4 class='board_info'>Squares will close 15 minutes prior to start of event at <%=@contest.close_time  %></h4> 
    <!-- <h4 class='board_info'>Event - <%#= @contest.event_date.utc  %></h4>  -->
    <h4 class='board_info'><a href="#">Winning</a></h4>
    <% if current_user.admin? %>
    <%= link_to "Edit Event Details",  edit_contest_path(@contest), class: " claim-btn waves-red waves-effect edit-contest" %>
    <% end %>
    <h2>Box Score:</h2>
    <ul>
      <li><%= render 'box_score' %></li>
        
    </ul>
    <% $quarters.each do |quarter| %>
      <% if quarter_over?(@contest, quarter) %>
        <h2><%=  find_winner(@contest, quarter)[0].full_name  %> has the winning square for the  <%= quarter.capitalize %> - Cell <%= @winner_data[1][0].position[0].to_i + 1 %></h2>
      <% end %>
    <% end %>
      
    <div id='num_pool'>
      <%= @contest.available_nums %>
    </div> 
    <!-- <button class="btn-large z-depth-4" id="display_board"> Show Taken </button> -->
    <h3 class="home-team-row team-header"><%= @contest.home_team.split(" ").pop %></h3>
  <div class="row home_row board">
    <div class="col s1 corner"></div>
      <%= raw home_axis_populater(@contest) %>
  </div>
  <h1 class="vertical-text team-header hide-on-med-and-down"><%= @contest.away_team.split(" ").pop %></h1>

  <form action="/contests/<%= @contest.id %>/cells" method='POST' id="form" >
      <% i = 0 %>
    <% 10.times do%>
        <%= raw away_axis_populater(@contest, i ) %>
    <%= raw row_checkbox_populater(i) %>
      <%  i += 1 %>
    <% end %>
    <!-- <input type="hidden" name='cell[position][]' value="2"> -->
    <input type="hidden" name='cell[user_id]' value="<%= current_user.id %>">
    <input type="hidden" name='cell[contest_id]' value="<%= @contest.id %>">
    <div class="claim_buttons">
      
    <input type="submit" value="Claim Selected" class='claim-btn  waves-effect waves-red'>
    <button value="random2" class='claim-btn  waves-effect waves-red' id="random2">Random 2</button>
    <button value="random5" class='claim-btn waves-effect waves-red' id="random5">Random 5</button>

    </div>
  </form>
  <br>
  <br>
  <br> 


