    <h3 class='board_info'><% if @contest %><%= @contest.event_name %> 
    </h3>
    <h4 class='board_info'><%= @contest.event_date %></h4>
    <% end %>
    <p class='board_info'><a href="#">payouts</a></p>
    <p class='board_info'><a href="#">rules and regs</a></p>
   <div id='num_pool'>
      <%= @contest.available_nums %>
    </div> 
    <button class="btn-large z-depth-4" id="display_board"> Show Taken </button>
  <div class="row home_row">
    <div class="col s1 corner"></div>
      <%= raw home_axis_populater(@contest) %>
  </div>

  <form action="/contests/<%= @contest.id %>/cells" method='POST' id="form">
      <% i = 0 %>
    <% 10.times do%>
        <%= raw away_axis_populater(@contest, i ) %>
    <%= raw row_checkbox_populater(i) %>
      <%  i += 1 %>
    <% end %>
    <!-- <input type="hidden" name='cell[position][]' value="2"> -->
    <input type="hidden" name='cell[user_id]' value="<%= current_user.id %>">
    <input type="hidden" name='cell[contest_id]' value="<%= @contest.id %>">
    <input type="submit" value="Claim Squares" class='claim-btn  waves-effect waves-red'>
  </form>
  <br>
  <br>
  <br>

