  <table class"striped bordered">



    <!-- <thead><th>Winners:</th></thead> -->
    <thead>
      <tr>
        <th data-field="team">Team</th>
        <th data-field="1st">1st</th>
        <th data-field="half">Half</th>
        <th data-field="3rd">3rd</th>
        <th data-field="final">Final</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td> <%= @contest.home_team %></td>
       <td><input name="contest[box_score[home[first]]]" type="text" class="box_score_item" value="<%= insert_value_for_form(@contest, "first", "home") %>"/></td>
       <td><input name="contest[box_score[home[half]]]" type="text" class="box_score_item" value="<%= insert_value_for_form(@contest, "half", "home") %>"/></td>
       <td><input name="contest[box_score[home[third]]]" type="text" class="box_score_item" value="<%= insert_value_for_form(@contest, "third", "home") %>"/></td>
       <td><input name="contest[box_score[home[final]]]" type="text" class="box_score_item" value="<%= insert_value_for_form(@contest, "final", "home") %>"/></td>
     </tr>
     <tr>
       <td> <%= @contest.away_team %></td>
       <td><input name="contest[box_score[away[first]]]" type="text"  class="box_score_item" value="<%= insert_value_for_form(@contest, "first", "away") %>"/></td>
       <td><input name="contest[box_score[away[half]]]" type="text" class="box_score_item" value="<%= insert_value_for_form(@contest, "half", "away") %>"/></td>
       <td><input name="contest[box_score[away[third]]]" type="text" class="box_score_item" value="<%= insert_value_for_form(@contest, "third", "away") %>"/></td>
       <td><input name="contest[box_score[away[final]]]" type="text" class="box_score_item" value="<%= insert_value_for_form(@contest, "final", "away") %>"/></td>

     </tr>
   </tbody>

 </table>