<%= form_for @contest do |f|%>
<div class='input-field home-away'>
  <%= f.label :home_team%>
  <%= f.text_field :home_team, placeholder: "Home Team", class: "home-team"%>
  <h4>at </h4>
  <%= f.label :away_team%>
  <%= f.text_field :away_team, placeholder: "Away Team", class:"away-team"%>
</div>

<div>
<input class="flatpickr" type="text" placeholder="Select Date.." name="contest[event_date]">
</div>
<div class="input-field inline  ">
  <%= f.label :reserve %>
  <%= f.text_field :reserve %>
</div>

<div class=" input-field inline ">
  
  <input name="contest[sport]" type="radio" id="Football" class="with-gap"/>
  <label for="Football" >Football</label>

  <input name="contest[sport]" type="radio" id="Basketball" class="with-gap"/>
  <label for="Basketball">Basketball</label>
</div>

<div class='range-field '>
  <%= f.label :cell_value%>
  <%= f.range_field :cell_value, min:'0', max:'50', step: '1'%>
</div>

<div> 
  <%= f.label :prizes %>
  <%= f.text_field :prizes, placeholder: "Separate by comma" %>
</div>



<%= render 'box_score'%>

<%= f.submit 'Update Board', class:'claim-btn waves-effect ' %>
<% end %>
