<div><p><iframe src="http://odds.zetamicro.com/xTicker.asp?bgColor=FFFFFF" width="800" height="180" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" class="" ></iframe></p></div>

<h2>Contest List</h2>



   <%= form_tag(contests_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Team Name"%>
    <%= submit_tag "Search", :name => nil , class:"btn" %>
    <%#= button_to "Reset", type="reset" %>
  <% end %>

<h2 class='contest-list'>Contest List</h2>
<% @contests.sort {|a,b| b.event_date <=> a.event_date}.each do |contest| %>
  <div class ="contest-card" contest_id="<%= contest.id %>">
    <h4 ><%= link_to contest.event_name, contest_path(contest), class:"event_index"%> </h4>
    	<ul>
    		<li><h5>Starts: <%= contest.event_date.utc.strftime("%b %e, %l:%M %p")%></h5>
    		</li>
			<li><h5><%= contest.available_nums.length %> squares available</h5></li>
    	</ul>
  </div>

<% end %>