<!-- <div><p><iframe src="http://odds.zetamicro.com/xTicker.asp?bgColor=FFFFFF" width="800" height="180" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" class="" ></iframe></p></div> -->

<%#= render 'search', layout: false %>

<% if @contests.empty? %>
  <h3>No squares right now</h3>
<% else %>

  <h2 class='contest-list'>
    <% if @archive_msg %>
       Archived Boards
    <% else %>
      Contest List
    <% end %>

  </h2>
<% end %>
<div class='row'>
  <% @contests.sort {|a,b| b.event_date <=> a.event_date}.each do |contest| %>
    <div class ="contest-card" contest_id="<%= contest.id %>">
      <ul class=' contestgrid col s3'>
        <h4><%= link_to contest.event_name, contest_path(contest), class:"event_index"%> </h4>
      	<li><h5>Starts: <%= contest.event_date.utc.strftime("%b %e, %l:%M %p")%></h5></li>
  			<li><h5><%= contest.available_nums.length %> squares available</h5></li>
        <% if logged_in? && current_user.admin? %>
          
          <% if contest.archived? %>
          <li><h6><%= link_to 'Permanently Delete', contest_path(contest), method: "delete" %></h6></li><% end %>
          

          <li><h6><%= link_to contest.archived? ? :Unarchive : :Archive, archive_contest_path(contest) %>

        <% end %>
      </ul>
    </div>
<% end %>
  </div>


<%#= link_to 'See Archived Users', archived_users_path %></h6></li>
