<!-- <div><p><iframe src="http://odds.zetamicro.com/xTicker.asp?bgColor=FFFFFF" width="800" height="180" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" class="" ></iframe></p></div> -->

   <%#= form_tag(contests_path, :method => "get", id: "search-form") do %>
    <%#= text_field_tag :search, params[:search], placeholder: "Team Name", class:'capitalize' %>
    <%#= submit_tag "Search", :name => nil , class:"btn-large" %>
    <%#= button_to "Reset", type="reset" %>
  <%# end %>
<%= render 'search', layout: false %>

<% if @contests.empty? %>
<% else %>
  <h2 class='contest-list'>Contest List</h2>
<% end %>
<div class='row'>
  <% @contests.sort {|a,b| b.event_date <=> a.event_date}.each do |contest| %>
    <div class ="contest-card" contest_id="<%= contest.id %>">
      <ul class=' contestgrid col s3'>
        <h4><%= link_to contest.event_name, contest_path(contest), class:"event_index"%> </h4>
      	<li><h5>Starts: <%= contest.event_date.utc.strftime("%b %e, %l:%M %p")%></h5></li>
  			<li><h5><%= contest.available_nums.length %> squares available</h5></li>
        <% if current_user.admin? %>
          <li><h6><%= link_to 'Delete Event', contest_path(contest), method: "delete" %></h6></li>
        <% end %>
      </ul>
    </div>
<% end %>
  </div>
