<%= form_for @contest do |f|%>
<div class='input-field home-away'>
  <%= f.label :home_team%>
  <%= f.text_field :home_team, placeholder: "Home Team", class: "home-team"%>
  <h4>Vs.</h4>
  <%= f.label :away_team%>
  <%= f.text_field :away_team, placeholder: "Away Team", class:"away-team"%>
</div>

<div>
  <%= f.datetime_local_field :event_date, class: "flatpickr"%>
<!-- <input class="flatpickr" type="text" placeholder="Select Date.." name="contest[event_date]"> -->
</div>
<div class="input-field inline  ">
  <%= f.label :reserve %>
  <%= f.text_field :reserve %>
</div>

<div class=" input-field inline ">
  <input name="contest[sport]" type="radio" id="football" class="with-gap" value="football"/>
  <label for="football" >Football</label>

  <input name="contest[sport]" type="radio" id="basketball" class="with-gap" value="basketball"/>
  <label for="basketball">Basketball</label>
</div>

<div class='range-field '>
  <%= f.label :cell_value%>
  <%= f.range_field :cell_value, min:'0', max:'50', step: '1'%>
</div>

<div> 
  <%= f.label :prizes %>
  <%= f.text_field :prizes, placeholder: "Separate by comma" %>
</div>

<div>
  <table class"striped bordered">

    <!-- <thead><th>Winners:</th></thead> -->
     <thead>
          <tr>
              <th data-field="team">Team</th>
              <th data-field="1st">1st</th>
              <th data-field="half">Half</th>
              <th data-field="3rd">3rd</th>
              <th data-field="final">Final</th>
          </tr>
      </thead>
        <tbody>
            <tr>
               <td> Home<%= @contest.home_team %></td>
               <td><input type="text"></td>
               <td><input type="text"></td>
               <td><input type="text"></td>
               <td><input type="text"></td>
            </tr>
            <tr>
               <td> Away<%= @contest.away_team %></td>
              <td><input type="text"></td>
               <td><input type="text"></td>
               <td><input type="text"></td>
               <td><input type="text"></td>

            </tr>
        </tbody>
  
    </table>
</div>


<%= f.submit 'Create Board', class:'btn waves-effect' %>
<% end %>